.card{ 
  box-sizing: border-box;
  display: inline-flex;
  grid-column-end: span 4;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 327px; 
  height: 388px;
  padding: 1.25em;
  border-radius: 0.3em;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://bit.ly/2NsmGGN");

  &__heading{
    color: #ffffff;
  }

  &__description{
    color: #ffffff;
    margin-top: 0.25em;
  }

  &__anchor{
    margin-bottom: 1em;
  }
}