*{
  margin: 0;
  padding: 0;
}

body{
  padding: 0px 6.5%;
}

.wrapper{
  display: grid;
  grid-template-rows: 100px auto;
  grid-gap: $base-unit * 4;
  @media #{$medium-device} {
    grid-gap: $base-unit*7;
    grid-template-columns: repeat(12,1fr);
  }
}