
p,a{
	font-family: $font-stack;
	font-style: normal;
	font-weight: 400;
	font-size: $base-unit * 5;
	letter-spacing: 0;
	line-height: $base-unit * 7;
	margin: 0px 0px $base-unit * 2;
	
}

h1{
	font-family: $font-stack;
	font-size: $base-unit * 10;
	line-height: $base-unit * 11;
	color: $heading-color;
	letter-spacing: 0;
	font-weight: 100;
	margin: $base-unit*6 0px $base-unit*3;
	@media #{$medium-device}{
	font-size: $base-unit * 15;
	line-height: $base-unit * 16;
	}
}

h2{
	font-family: $font-stack;
	font-size: $base-unit * 7;
	line-height: $base-unit * 8;
	color: $heading-color;
	letter-spacing: $base-unit / 6;
	font-weight: 700;
	margin: $base-unit*6 0px $base-unit*3;
}

h3{
	font-family: $font-stack;
	font-weight: 700;
	font-size: $base-unit * 4;
	color: $heading-color;
	letter-spacing: $base-unit / 6;
	margin: $base-unit*6 0px $base-unit*3;
}