
.body-text{
	font-family: $font-stack;
	font-style: normal;
	font-weight: 400;
	font-size: $base-unit * 5;
	letter-spacing: 0;
	line-height: $base-unit * 7;
	margin: 0px 0px $base-unit * 2;
	
}

.heading-1{
	font-family: adelle-sans, sans-serif;
	font-size: $base-unit * 15;
	line-height: $base-unit * 16;
	color: $heading-color;
	letter-spacing: 0;
	font-weight: 100;
	margin: $base-unit*6 0px $base-unit*3;
	@media #{$medium-device}{
		font-size: $base-unit * 22;
		line-height: $base-unit * 23;
	}
}

.heading-2{
	font-family: adelle-sans, sans-serif;
	font-size: $base-unit * 11;
	line-height: $base-unit * 12;
	color: $heading-color;
	letter-spacing: $base-unit / 4;
	font-weight: 700;
	margin: $base-unit*9 0px $base-unit*4;
}

.heading-3{
	font-family: $font-stack;
	font-weight: 700;
	font-size: $base-unit * 6;
	color: $heading-color;
	letter-spacing: $base-unit / 4;
	margin: $base-unit*9 0px $base-unit*4;
	text-transform: uppercase;
}

.text__button-centered{
	margin: 0 auto;
	max-width: 300px;
	text-align: center;
}