

body {
	font-family: adelle-sans, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 27px;
}

h1 {
	font-family: adelle-sans, sans-serif;
	font-size: 66px;
	line-height: 72px;
	color: #514E4E;
	letter-spacing: 0;
	font-weight: 700;
}

h2{
	font-family: adelle-sans, sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #514E4E;
	letter-spacing: 1px;
}