.button{
  display: inline-block;
  width: 266px;
  text-align: center;
  border-bottom: 0.25em solid #3b227b;
  background: #502ea4;
  border-radius: 5px;
  font-size: 62%;
  font-weight: 400;
  color: #ffffff;
  line-height: 130%;
  text-decoration: none;
  padding: 0.4em 0.8em;
  cursor: pointer;
}
