.link--button{
display: flex;
flex-direction:row;
margin: $base-unit*8;
padding:$base-unit*2;
background: #502EA4;
border-radius: 5px;
color: #FFFFFF;
text-align: center;
justify-content: center;
cursor: pointer;
letter-spacing: 0.4px;

  &:hover{
    text-decoration: underline;
  
  }
}

