
html{
	font-size: 1.25em;
	line-height: 1.40em;
}
@mixin small-caps {
	font-variant-caps: all-small-caps;
	-moz-font-feature-settings: "c2sc", "smcp";
	-webkit-font-feature-settings: "c2sc", "smcp";
	font-feature-settings: "c2sc", "smcp";
}

@mixin ligatures {
	font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
}

@mixin oldstyle-figures{
	font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}

p,a{
	@include oldstyle-figures;
	@include ligatures;
	font-family: $font-stack;
	font-style: normal;
	margin: 0 0 $base-unit * 2;

}

h1{
	font-family: $font-stack;
	font-size: 4em;
	line-height: 1em;
	color: $heading-color;
	font-weight: 100;
	margin: $base-unit*6 0 $base-unit*6;
	@media #{$medium-device} {
		font-size: 5.6em;
	}
}


h2{
	a{
		text-decoration: none;
		color: #000000;
	}
font-family:$font-stack;
font-size: $base-unit*16;
line-height: 0.8em;
color: $heading-color;
font-weight: 700;
letter-spacing: 0.03em;
text-transform: uppercase;
@include small-caps;
}

h3{
	font-family: $font-stack;
	font-size: 2em;
	line-height: 1em;
	color: $heading-color;
	font-weight: 600;
	margin: $base-unit*9 0px $base-unit*4;
}

h4{
	font-family: $font-stack;
	font-weight: 600;
	font-size: 1.2em;
	line-height: 1em;
	color: $heading-color;
	letter-spacing: 0.03em;
	margin: $base-unit*9 0px $base-unit*4;
	text-transform: uppercase;
	@include small-caps;
	
}

li{
padding-inline-start: 0;
font-family: $font-stack;
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 1px;
list-style-type: none;
}

.text__white{
	color: #ffffff;
}